@media (max-width: 768px) {
	.container {
		max-width: 752px;
		padding: 10px;
	}
	.promo {
		min-height: 550px;
		padding-bottom: 48px;
		background-position: top left -150px;
		&__header {
			margin: 0 auto;
		}
		&__subheader {
			margin: 0 auto;
			margin-top: 17px;
		}
		&__icons {
			margin: 0 auto;
			margin-top: 60px;
		}
		.button_main {
			margin: 0 auto;
			margin-top: 76px;
		}
		&__link {
			margin: 0 auto;
			margin-top: 16px;
		}
	}
	.advantages {
		&__icons {
			width: 100%;
			flex-direction: column;
			align-items: center;
		}
		&__icon {
			max-width: 100%;
		}
		&__title {
			margin-top: 16px;
		}
		&__descr {
			margin-bottom: 32px;
		}
	}

	.consultation {
		.title {
			&_left{
			text-align: center;
			}
		}
		&__descr {
			text-align: center;
		}
		.feed-form {
			margin: 0 auto;
			margin-top: 36px;
		}
	}
	.carousel {
		&__inner {
			width: 100%;
			img {
				margin: 0 auto;
				width: 90%;
			}
		}
		.slick-prev, .slick-next {
			display: none !important;
		}
	}

	.catalog {
		&__content {
			justify-content: center;
		}
	}
	.reviews {
		img {
			margin-right: 40px;
		}
		&__item {
			width: 530px;
		}
	}
}

@media (max-width: 480px) {
	.container {
		max-width: 464px;
		padding: 10px;
	}
	.title {
		font-size: 26px;
	}
	.header {
		margin-left: 5px;
		margin-right: 5px;
		&__logo {
			width: 50%;
		}
		&__official {
			display: none;
		}
		&__phone {
			font-size: 16px;
		}
		.button {
			width: 140px;
			font-size: 12px;
		}
	}
	.promo {
		background-position:top left -400px;
		&__header {
			font-size: 26px;
			text-align: center;
		}
		&__subheader {
			text-align: center;
			font-size: 16px;
		}
		&__icons {
			width: 100%;
			justify-content: space-around;
			align-items: center
		}
		&__icon {
			font-size: 12px;
			img {
				width: 30px;
				margin-bottom: 10px;
			}
		}
		&__link {
			text-align: center;
		}
	}
	.consultation {
		.title {
			&_left {
				font-size: 18px;
				line-height: 26px;
			}
		}
		&__descr {
			font-size: 14px;
			line-height: 22px;
		}
	}
	.catalog {
		&__tabs {
			flex-wrap: wrap;
			margin-top: 24px;
		}
		&__tab {
			margin-bottom: 10px;
			width: 110px;
			font-size: 12px;
			height: 35px;
			line-height: 35px;
			transform: skewX(0);
			div {
				transform: skewX(0);
			}
		}
		&-item {
			&__content {
				margin-left: 0px;
			}
			&__descr {
				font-size: 12px;
				line-height: 14px;
			}
			&__list li {
				width: 110%;
				font-size: 9px;
				line-height: 10px;
				left: -20px;
				&::before {
					content: '';
					position: absolute;
					width: 5px;
					height: 5px;
					background-color: $main-color;
					left: -13.5px;
					top: 8.5px;
				}
			}
			&__link {
				margin-top: 20px;
				font-size: 10px;
			}
			&__back {
				bottom: -40px;
				font-size: 10px;
			}
		}
		&__content {
			margin-top: 32px;
		}
	}
	.reviews {
		&__item {
			width: 90%;
			margin-top: 16px;
		}
		img {
			display: block;
			align-items: center;
			margin-right: 0;
		}
		&__name, &__achieve {
			display: block;
			text-align: center;
		}
	}
	.footer {
		&__info {
			width: 100%;
		}
	}
	.pageup {
		right: 10px;
		bottom: 10px;
	}
}

@media (max-width: 375px) {
	.container {
		max-width: 100%;
		margin: 0 auto;
		padding: 10px;
	}
	.title {
		font-size: 20px;
	}
	.header {
		&__phone {
			font-size: 14px;
		}
		.button {
			width: 120px;
			font-size: 10px;
		}
	}
	.promo {
		&__header {
			font-size: 20px;
		}
		&__icon {
			font-size: 12px;
			img {
				width: 25px;
			}
		}
		.button_main {
			width: 240px;
			font-size: 14px;
		}
	}
	.consultation {
		.title {
				padding: 0 5px;
				font-size: 16px;
				line-height: 26px;
		}
		&__descr {
			padding: 0 5px;
			margin-top: 24px;
			font-size: 12px;
			line-height: 18px;
		}
	}
	.catalog-item__list li {
		font-size: 12px;
	}
	.footer {
		font-size: 14px;
		&__addr {
			margin-top: 32px;
		}
		&__phone {
			margin: 32px 0;
		}
	}
}