@media (max-width: 768px) {
	.container {
		padding: 10px;
	}
	.promo {
		min-height: 550px;
		padding-bottom: 48px;
		background-position: top left -150px;
		&__header {
			margin: 0 auto;
		}
		&__subheader {
			margin: 0 auto;
			margin-top: 17px;
		}
		&__icons {
			margin: 0 auto;
			margin-top: 60px;
		}
		.button_main {
			margin: 0 auto;
			margin-top: 76px;
		}
		&__link {
			margin: 0 auto;
			margin-top: 16px;
		}
	}
	.advantages {
		&__icons {
			width: 100%;
			flex-direction: column;
			align-items: center;
		}
		&__title {
			margin-top: 16px;
		}
		&__descr {
			margin-bottom: 32px;
		}
	}

	.consultation {
		.title {
			&_left{
			text-align: center;
			}
		}
		&__descr {
			text-align: center;
		}
		.feed-form {
			margin: 0 auto;
			margin-top: 36px;
		}
	}
	.carousel {
		&__inner {
			width: 100%;
			img {
				margin: 0 auto;
				width: 650px;
			}
		}
		.slick-prev, .slick-next {
			img {
				display: none;
			}
		}
	}

	.catalog {
		&__content {
			justify-content: center;
		}
	}
	.reviews {
		img {
			margin-right: 40px;
		}
		&__item {
			width: 530px;
		}
	}
}

@media (max-width: 480px) {
	.container {
		padding: 10px;
	}
	.title {
		font-size: 26px;
	}
	.header {
		margin-left: 5px;
		margin-right: 5px;
		&__logo {
			width: 50%;
		}
		&__official {
			display: none;
		}
		&__phone {
			font-size: 16px;
		}
		.button {
			width: 140px;
			font-size: 12px;
		}
	}
	.promo {
		background-position:top left -400px;
		&__header {
			font-size: 26px;
			text-align: center;
		}
		&__subheader {
			text-align: center;
			font-size: 16px;
		}
		&__icons {
			width: 100%;
			justify-content: space-around;
			align-items: center
		}
		&__icon {
			font-size: 12px;
			img {
				width: 30px;
				margin-bottom: 10px;
			}
		}
		&__link {
			text-align: center;
		}
	}
	.consultation {
		.title {
			&_left {
				font-size: 26px;
				line-height: 36px;
			}
		}
	}
	.carousel {
		&__inner {
			img {
				width: 400px;
			}
		}
	}
	.catalog {
		&__tabs {
			flex-wrap: wrap;
			margin-top: 24px;
		}
		&__tab {
			margin-bottom: 10px;
			width: 110px;
			font-size: 12px;
			height: 35px;
			line-height: 35px;
			transform: skewX(0);
			div {
				transform: skewX(0);
			}
		}
		&__content {
			margin-top: 32px;
		}
	}
	.reviews {
		&__item {
			width: 90%;
			margin-top: 16px;
		}
		img {
			display: block;
			align-items: center;
			margin-right: 0;
		}
		&__name, &__achieve {
			display: block;
			text-align: center;
		}
	}
	.footer {
		&__info {
			width: 100%;
		}
	}
}

@media (max-width: 375px) {
	.container {
		padding: 10px;
	}
	.title {
		font-size: 20px;
	}
	.header {
		&__phone {
			font-size: 14px;
		}
		.button {
			width: 120px;
			font-size: 10px;
		}
	}
	.promo {
		&__header {
			font-size: 20px;
		}
		&__icon {
			font-size: 12px;
			img {
				width: 25px;
			}
		}
		.button_main {
			width: 240px;
			font-size: 14px;
		}
	}
	.consultation {
		.title {
			&_left {
				padding: 0 5px;
				font-size: 20px;
				line-height: 26px;
			}
		}
		&__descr {
			padding: 0 5px;
			margin-top: 24px;
			font-size: 16px;
			line-height: 20px;
		}
	}
	.carousel {
		&__inner {
			img {
				width: 300px;
			}
		}
	}
	.footer {
		font-size: 14px;
		&__addr {
			margin-top: 32px;
		}
		&__phone {
			margin: 32px 0;
		}
	}
}