* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #212121;
  z-index: 10;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}

.menu_item {
  border-right: 2px dotted rgba(0, 0, 0, 0.6);
  padding-right: 45px;
}

.menu_item:last-child {
  border-right: none;
}

.hamburger {
  display: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  width: 100%;
  margin-top: 16px;
}

.subheader_official {
  margin-top: 6px;
  font-weight: 200;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.5;
}

.subheader_call {
  font-weight: 200;
  font-size: 12px;
  margin-top: 19px;
  text-align: right;
  color: #FFFFFF;
}

.subheader_phone {
  display: block;
  text-align: right;
  margin-top: 8px;
  font-weight: 400;
  line-height: 12px;
  font-size: 22px;
  color: #FFFFFF;
  text-decoration: none;
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  background: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  display: block;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  background: url("../img/bg/uber_bg.png") center center/cover no-repeat;
  padding: 150px 0 186px 0;
}

.promo_header {
  margin: 0;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo_subheader {
  margin: 0;
  margin-top: 22px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo_descr {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
}

.promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 120px;
  width: 259px;
  height: 63px;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.reasons {
  padding: 18px 0 64px 0;
  background: #fff;
}

.reasons_block {
  margin-top: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reasons_round {
  margin-right: 25px;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 116px;
  border-radius: 50%;
  background-color: #1EACC7;
}

.reasons_descr {
  width: 400px;
}

.reasons_subtitle {
  font-weight: 400;
  font-size: 17px;
  color: #1EACC7;
}

.reasons_text {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}

.label {
  position: relative;
  margin: 0 auto;
  width: 115px;
  height: 27px;
  padding: 7px 12px;
  background-color: #000000;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  z-index: 2;
}

.label_white {
  background-color: #fff;
  color: #070716;
}

.title {
  position: relative;
  margin-top: 33px;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  z-index: 2;
}

.title_white {
  color: #fff;
}

.subtitle {
  position: relative;
  color: #222222;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  z-index: 2;
}

.subtitle_white {
  color: #fff;
}

.mobile {
  padding: 48px 0 60px 0;
  min-height: 864px;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 30px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 89px;
}

.mobile_item_1 {
  background: url("../img/carts/pic (1).png") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/carts/pic (2).png") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/carts/pic (3).png") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/carts/pic (4).png") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/carts/pic (5).png") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/carts/pic (6).png") center center/cover no-repeat;
}

.mobile_item_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 29px;
  height: 29px;
  background: #000000;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}

.mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}

.mobile_item_plus:after {
  position: absolute;
  content: '';
  display: block;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  transition: 0.3s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

.chance {
  position: relative;
  min-height: 900px;
  padding-top: 56px;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}

.chance_car {
  position: relative;
  display: block;
  margin: 54px auto 0 auto;
  z-index: 2;
}

.chance_text {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.chance .black {
  position: absolute;
  left: 0;
  top: 0;
  height: 500px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

.require {
  padding: 68px 0 54px 0;
}

.require_block {
  margin: 33px 0;
}

.require_block_nmb {
  margin-bottom: 0;
}

.require_title {
  font-weight: 400;
  font-size: 22px;
  color: #1CA8C3;
}

.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

.require_list li {
  position: relative;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
}

.require_list li::before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  height: 20px;
  width: 21px;
  background: url("../img/icon/check_blue 10.png") center center/cover no-repeat;
}

.require_descr {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #1CA8C3;
  margin-top: 20px;
}

.require .warning .require_title {
  color: #ff5656;
}

.require .warning .require_list li::before {
  background: url("../img/icon/check_red 6.png") center center/cover no-repeat;
}

.world {
  position: relative;
  min-height: 90vh;
  padding: 46px 0;
  background: url("../img/bg/world_bg.png") center center/cover no-repeat;
}

.world_link {
  position: absolute;
  text-decoration: none;
  left: 50%;
  transform: translateX(-50%);
  bottom: 49px;
  margin-top: 456px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 68px;
  text-transform: uppercase;
  color: #1FBAD6;
}

.world_link:hover {
  text-decoration: none;
  color: #fff;
}

footer {
  padding: 14px 23px 39px 23px;
}

.footer_divider {
  width: 300px;
  height: 7px;
  margin: 0 auto;
  background-color: #1fbad6;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 48px;
}

.footer_wrapper > div {
  width: 33%;
}

.footer_wrapper > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

.footer_social {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.footer_social_item {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 50%;
}

.footer_social_item i {
  color: #fff;
}

.footer_links {
  width: 390px;
  margin: 0 auto;
}

.footer_links_main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.footer_links_main a {
  text-decoration: none;
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_links_sub {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.footer_links_sub a {
  text-decoration: none;
  color: #999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_links_lang {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

.footer_mobile a {
  margin-left: 5px;
  text-decoration: none;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .reasons_block {
    align-items: flex-start;
  }
  .reasons_descr {
    width: 315px;
  }
  .mobile_item {
    width: 100%;
  }
  .chance {
    min-height: 840px;
    padding: 55px 0;
  }
  .chance img {
    width: 100%;
  }
  .footer_xs {
    display: none;
  }
  .footer_wrapper > div {
    width: 50%;
  }
  .footer_wrapper > div:nth-child(1) {
    width: 25%;
  }
  .footer_wrapper > div:nth-child(3) {
    width: 25%;
  }
  .footer_mobile {
    margin: auto;
    display: flex;
  }
  .footer_mobile a {
    margin: 0 3px;
  }
  .footer_mobile a img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 26px;
    margin-top: 10px;
  }
  .reasons_block {
    flex-direction: column;
    align-items: center;
  }
  .reasons_descr {
    margin-top: 20px;
    width: 315px;
  }
  .chance {
    min-height: 800px;
  }
  .world {
    min-height: 650px;
  }
  .footer_wrapper {
    flex-wrap: wrap;
  }
  .footer_wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer_wrapper > div:nth-child(1) {
    width: 100%;
  }
  .footer_wrapper > div:nth-child(3) {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    margin: 10px 0;
    padding-right: 0;
    border: none;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 16px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5px;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
  }
  .subheader_btn {
    width: 130px;
    height: 30px;
    display: block;
    margin: 1px auto 0 auto;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    border: 3px solid rgba(0, 0, 0, 0.07);
    box-shadow: inset 0px -3px 0px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 10px;
  }
  .promo_header {
    line-height: 45px;
  }
}

@media (max-width: 575px) {
  nav {
    height: 32px;
  }
  .menu {
    width: 80%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 4px 0;
  }
  .menu_link {
    display: block;
    font-size: 14px;
  }
  header {
    height: 32px;
  }
  .subheader {
    top: 32px;
    height: 60px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 16px;
  }
  .subheader_phone {
    margin-top: 10px;
    font-size: 14px;
  }
  .subheader_btn {
    height: 22px;
    width: 105px;
    margin-top: 8px;
    font-size: 8px;
  }
  .subheader_btn:hover {
    background: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
  }
  .promo {
    min-height: 500px;
    padding: 80px 0 35px 0;
  }
  .promo_header {
    margin-top: 41px;
    font-size: 20px;
    line-height: 28px;
  }
  .promo_subheader {
    font-size: 16px;
    margin-top: 24px;
    line-height: 28px;
  }
  .promo_descr {
    display: none;
  }
  .promo_btn {
    width: 190px;
    height: 40px;
    margin-top: 140px;
    font-size: 14px;
  }
  .promo_btn:hover {
    background: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
  }
  .reasons {
    padding: 20px 0 38px 0;
  }
  .reasons .title {
    margin-top: 16px;
    font-size: 16px;
  }
  .reasons_block {
    margin-top: 32px;
  }
  .reasons_round {
    margin: 0;
    height: 70px;
    width: 70px;
  }
  .reasons_round img {
    width: 50px;
  }
  .reasons_descr {
    width: 200px;
    margin-top: 16px;
  }
  .reasons_subtitle {
    font-size: 14px;
    margin-top: 8px;
  }
  .reasons_text {
    font-size: 12px;
  }
  .mobile {
    padding: 24px 0 32px 0;
  }
  .mobile .title {
    font-size: 16px;
    margin-top: 16px;
  }
  .mobile .subtitle {
    font-size: 14px;
    margin: 8px 0 30px 0;
  }
  .mobile_item {
    width: 100%;
    height: 200px;
  }
  .mobile_item_subtitle {
    transform: translateY(-50px);
    font-size: 16px;
    line-height: 26px;
  }
  .chance {
    min-height: 393px;
    background: #070716;
    padding: 24px 0 24px 0;
  }
  .chance .black {
    display: none;
  }
  .chance .title {
    display: none;
  }
  .chance .subtitle {
    display: none;
  }
  .chance img {
    width: 100%;
    margin-top: 80px;
  }
  .chance_text {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin-top: 56px;
  }
  .require {
    min-height: 900px;
    padding: 24px 0 24px 0;
  }
  .require .title {
    margin-top: 24px;
    font-size: 16px;
  }
  .require_block {
    margin-top: 24px;
    margin-bottom: 0;
  }
  .require_title {
    font-size: 16px;
  }
  .require_list li {
    position: relative;
    left: -20px;
    margin-top: 2px;
    margin-bottom: 3px;
    font-size: 12px;
    line-height: 18px;
  }
  .require_list li::before {
    left: -25px;
    height: 14px;
    width: 15px;
  }
  .require_descr {
    margin-top: 0;
    font-size: 12px;
    line-height: 18px;
  }
  .world {
    min-height: 490px;
    padding: 24px 0 24px;
  }
  .world .title {
    margin-top: 24px;
    font-size: 16px;
  }
  .world .subtitle {
    margin-top: 16px;
    font-size: 14px;
  }
  .world_link {
    margin-top: 190px;
    font-size: 12px;
    line-height: 18px;
  }
  .footer {
    padding-bottom: 24px;
  }
  .footer_xl {
    display: none;
  }
  .footer_divider {
    margin-top: 8px;
    width: 90%;
    height: 4px;
  }
  .footer_links {
    display: flex;
    margin-top: 16px;
    width: 100%;
  }
  .footer_links_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .footer_links a {
    padding-bottom: 5px;
    font-size: 10px;
  }
  .footer_links_sub {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .footer_links_sub a {
    font-size: 10px;
  }
  .footer_links_lang {
    margin-top: 8px;
  }
  .footer_social {
    margin: 0 auto;
    margin-top: 16px;
    width: 100%;
  }
  .footer_mobile {
    margin-top: 16px;
  }
}
