.advantages {
	padding: 71px 0 64px 0;
	min-height: 470px;
	background-color: #F6F6F6;
	&__icons {
		margin-top: 65px;
		display: flex;
		justify-content: space-between;
		max-width: 950px;
	}
	&__icon {
		display: block;
		max-width: 30%;
		text-align: center;
	}
	img {
		width: 70px;
	}
	&__title {
		margin-top: 30px;
		font-weight: 700;
		font-size: 18px;
		line-height: 29px;
		align-items: center;
		color: #0D0D0D;
	}
	&__descr {
		margin-top: 20px;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: #0D0D0D;
		a {
			text-decoration-line: underline;
			color: #FF0000;
		}
	}
	&__heartbeat {
		animation: heartbeat 1.5s ease-in-out infinite;
		&:hover {
			animation-play-state: paused;
		}
	}
}
