.catalog {
	padding-bottom: 100px;
	&__tabs {
		margin-top: 46px;
		list-style-type: none;
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		padding-left: 0;
	}
	&__tab {
		margin: 0 5px;
		width: 222px;
		height: 52px;
		border: 2px solid #D0D0D0;
		font-weight: 400;
		font-size: 18px;
		line-height: 52px;
		text-transform: uppercase;
		text-align: center;
		transform: skewX(-25deg);
		cursor: pointer;
		transition: .5s;
		&:hover {
			box-shadow: 3px 3px 10px 5px lightgray;
		}
		div {
			transform: skewX(25deg);
		}
		&-active {
			background: $main-color;
			color: #fff;
			border: none;
		}
	}
	&__content {
		margin-top: 60px;
		display: none;
		flex-wrap: wrap;
		justify-content: space-around;
		&-active {
			display: flex;
		}
	}
	&-item {
		overflow: hidden;
		margin: 0 7px;
		margin-bottom: 14px;
		width: 300px;
		min-height: 440px;
		border: 2px solid #E8E8E8;
		padding: 20px 20px 27px 20px;
		&__img {
			height: 200px;
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
		&__subtitle {
			margin-top: 15px;
			font-weight: bold;
			font-size: 16px;
			line-height: 25px;
			text-align: center;
			color: #0D0D0D;
		}
		&__descr {
			margin-top: 15px;
			font-weight: 300;
			font-size: 14px;
			line-height: 22px;
			text-align: center;
		}
		&__link {
			display: block;
			margin-top: 10px;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;
			text-align: center;
			color: $main-color;
			&:hover {
				color: $main-color;
			}
		}
		hr {
			margin-top: 17px;
			margin-bottom: 17px;
			height: 2px;
			background: #E8E8E8;
		}
		&__footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__old-price {
			font-weight: 300;
			font-size: 14px;
			line-height: 14px;
			text-decoration-line: line-through;
			color: #555555;
		}
		&__price {
			font-weight: bold;
			font-size: 20px;
			line-height: 20px;
			color: #050505;
		}
		&__wrapper {
			display: flex;
			width: calc(200% + 40px);
		}
		&__content {
			width: 50%;
			margin-right: 00px;
			transform: translateX(-100%);
			transition: 0.5s;
			&-active{
				transform: translateX(0%);
				margin-right: 20px;
			}
		}
		&__list {
			position: relative;
			width: 50%;
			margin-left: 20px;
			transform: translateX(0%);
			padding-right: 20px;
			padding-left: 10px;
			margin-bottom: 0;
			list-style-type: none;
			transition: 0.5s;
			&-active {
				transform: translateX(-100%);
				margin-left: 0;
			}
			li {
				position: relative;
				font-weight: 300;
				font-size: 14px;
				line-height: 21px;
				color: #555555;
				margin-bottom: 20px;
				&::before {
					content: '';
					position: absolute;
					width: 5px;
					height: 5px;
					background-color: $main-color;
					left: -15px;
					top: 7px;
				}
			}
		}
		&__back {
			position: absolute;
			margin-top: 21px;
			bottom: 0;
			left: 50%;
			transform: translateX(calc(-50% - 19px));
			display: block;
			color: $main-color;
			font-size: 14px;
			font-weight: 500;
			text-decoration: underline;
			text-transform: uppercase;
			&::before {
				content: '';
				position: absolute;
				width: 5px;
				height: 5px;
				background-color: $main-color;
				left: -15px;
				top: 7px;
			}
			&:hover {
				color: $main-color;
			}
		}
	}
}