.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: .56);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 382px;
  min-height: 140px;
  background: #F2F2F2;
  padding: 35px 28px 40px 28px;
  &__close {
    position: absolute;
    top: 0;
    right: -47px;
    font-size: 32px;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;
    color: $main-color;
  }
  &__subtitle {
    font-weight: bold;
    font-size: 19px;
    line-height: 19px;
    text-align: center;
    color: #0D0D0D;
  }
  &__descr {
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #0D0D0D;
  }
}
#consultation, #order, #thanx {
  display: none;
}