.reviews {
  padding-bottom: 48px;
  &__items {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  img {
    margin-right: 60px;
    width: 169px;
    height: 169px;
  }
  &__item {
    max-width: 680px;
    color: #0D0D0D;
  }
  &__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
  }
  &__achieve {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #646464;
  }
  &__descr {
    margin-top: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
}